<ion-header [translucent]="false">
  <ion-toolbar color="warning">
    <ion-title>
      Aplicativo DaZo - Seu Portal de Segurança
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card color="light">
    <ion-card-content>
      <strong>ATENÇÃO:</strong> Este aplicativo é um protótipo. Nenhum chamado de emergência real será feito.
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    
    <ion-button color="danger" expand="block" class="ion-margin-bottom" (click)="presentSosAlert()">
      <ion-icon slot="start" name="warning-outline"></ion-icon>
      CHAMAR VIATURA (SOS)
    </ion-button>

    <p class="ion-text-center ion-margin-top ion-margin-bottom">
      Selecione uma funcionalidade:
    </p>

    <ion-button 
      color="warning" 
      expand="block" 
      class="ion-margin-bottom" 
      [routerLink]="['../tab2']"
      (click)="iniciarGravacaoBoletim()">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      Abrir Boletim de Ocorrência
    </ion-button>

    <ion-button color="light" expand="block" class="ion-margin-bottom">
      <ion-icon slot="start" name="map-outline"></ion-icon>
      Visualizar Localização/Mapa
    </ion-button>

    <ion-button color="light" expand="block" class="ion-margin-bottom">
      <ion-icon slot="start" name="help-circle-outline"></ion-icon>
      Central de Ajuda
    </ion-button>
  </div> 

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Console de Status (Log):</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="console-box">
        <p *ngFor="let msg of tabsPage.logMessages">{{ msg }}</p>
      </div>
      
      <div *ngIf="tabsPage.latitude && tabsPage.longitude" class="ion-padding-top">
        <strong>Sua Localização Atual:</strong><br>
        Latitude: {{ tabsPage.latitude }} <br>
        Longitude: {{ tabsPage.longitude }}
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>