<!-- Container Flutuante da Câmera (Simulação) -->
<div class="camera-container" *ngIf="isRecording">
  
  <!-- Indicador de Gravação -->
  <div class="recording-indicator ion-text-center">
    <ion-icon name="radio-button-on-outline" color="danger"></ion-icon>
    <ion-text color="danger"> REC</ion-text>
  </div>
  
  <!-- Caixa Preta "Fake Camera" -->
  <div class="fake-camera-view">
    <ion-icon name="videocam-outline" class="camera-icon"></ion-icon>
    <p>Câmera Ativa<br><small>A gravar evidências...</small></p>
  </div>
  
  <!-- Botão de Parar -->
  <ion-button (click)="stopSimulation()" expand="block" color="medium" class="ion-margin-top">
    Parar
  </ion-button>
</div>

<!-- Navegação de Abas -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Emergência</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Abrir Boletim</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Ajuda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>